# Part 2: Get the latitude and the longitude coordinates

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood. 
Here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

Use the **Geocoder** package or the csv file to create the following dataframe:

![alt text](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/HZ3jNHNOEeiMwApe4i-fLg_f44f0f10ccfaf42fcbdba9813364e173_Screen-Shot-2018-06-18-at-7.18.16-PM.png?expiry=1586908800000&hmac=SLydplh2M7cTHbhizea95fMlzIGplGl23eEIv85CP0M)

**Important Note:** There is a limit on how many times you can call geocoder.google function. It is 2500 times per day. This should be way more than enough for you to get acquainted with the package and to use it to get the geographical coordinates of the neighborhoods in the Toronto.

**Import the necessary libraries**

In [10]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

Import data from previous part

In [11]:
task1_data_csv = "Toronto.TASK_1_df.csv"
TorontoPostalCodes = pd.read_csv(task1_data_csv).set_index("Postal code")
TorontoPostalCodes.rename_axis("Postal code", axis='index', inplace=True)
TorontoPostalCodes.head()

                 Borough                              Neighborhood
Postal code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

Extract the Latitude and Longitude data from http://cocl.us/Geospatial_data with the "Postal Code" index

In [12]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

Combine the data with ".join()"

In [13]:
toronto_neighborhoods = TorontoPostalCodes.join(geocsv_data)
toronto_neighborhoods

,Borough,Neighborhood,Latitude,Longitude
Postal code,,,,
M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
M9N,York,Weston,43.706876,-79.518188
M9P,Etobicoke,Westmount,43.696319,-79.532242
M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724
M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
M9W,Etobicoke,Northwest,43.706748,-79.594054

Save the new data

In [14]:
toronto_neighborhoods.to_csv('Toronto.TASK_II_df.csv',index=False)

In [15]:
toronto_neighborhoods.shape

(103, 4)